<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

{#search_song = Dynamic.objects.select_related('song').order_by('dynamic_search').all()[:8]#}
{##}
{#    label_list = Label.objects.all()#}
{##}
{#    play_hot_song = Dynamic.objects.select_related('song').order_by('dynamic_plays').all()[:10]#}
{##}
{##}
{#    daily_recommendation = Song.objects.order_by('song_release').all()[:3]#}
{##}
{#    search_ranking = search_song[:6]#}
{##}
{#    down_ranking = Dynamic.objects.select_related('song').order_by('dynamic_down').all()[:6]#}
{##}
{#    all_ranking = [search_ranking,down_ranking]#}


<h2>设置首页</h2>

<h3>search_song</h3>
<ul>
    {% for s in search_song %}
     <li></li>
    {% endfor %}


</ul>

<h3>label_list</h3>

<ul>
    {% for l in label_list %}
     <li>{{ l.label_id }}-----{{ l.label_name }}</li>
    {% endfor %}


</ul>
</body>
</html>